#anch_b {
    -fx-background-color: #C9C9C9;
}
#anch_b1 {
    -fx-background-color: #C9C9C9;
}
#anch_b2 {
    -fx-background-color: #C9C9C9;
}
#anch_b3 {
    -fx-background-color: #C9C9C9;
}
#anch_b4 {
    -fx-background-color: #C9C9C9;
}
#anch_b5 {
    -fx-background-color: #C9C9C9;
}

#anch_b7 {
    -fx-background-color: #C9C9C9;
}
#anch_b8 {
    -fx-background-color: #C9C9C9;
}
#anch_b9 {
    -fx-background-color: #C9C9C9;
}
#first {
    -fx-background-color: #C9C9C9;
}
#ap {
    -fx-background-color: #C9C9C9;
}
 

#browse {          
    -fx-background-image: url("add_file.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}


#import {          
    -fx-background-image: url("process.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

.Refresh1
 {          
    -fx-background-image: url("refresh1.png");
    -fx-background-size: 28.0 28.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

.Move {          
    -fx-background-image: url("Move.png");
    -fx-background-size: 30.0 30.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}



#calc {          
    -fx-background-image: url("post.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#del {          
    -fx-background-image: url("delete_log.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#search {          
    -fx-background-image: url("search.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#trn_ {          
    -fx-background-image: url("trn_.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#separate {          
    -fx-background-image: url("separate.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#save_sep {          
    -fx-background-image: url("save_sep.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#atrexcel {          
    -fx-background-image: url("xlsx.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#xlsx {          
    -fx-background-image: url("xlsx.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#loadexcel {          
    -fx-background-image: url("xlsx.png");
    -fx-background-size: 30.0 30.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#attributes {          
    -fx-background-image: url("attributes.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

.my_cell.table-cell {
	-fx-background-color: #F9E02C;
	}

#view {          
    -fx-background-image: url("view.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#post {          
    -fx-background-image: url("post.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#chk_nmbers{          
    -fx-background-image: url("deal.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#pseudo{          
    -fx-background-image: url("generate.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#print_check{          
    -fx-background-image: url("print.png");
    -fx-background-size: 25.0 25.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}