
.table-view .column-header, .table-view .filler {
    -fx-border-color: black;
    -fx-alignment: center-left ;
}

.table-row-cell{
	-fx-table-cell-border-color:black;
}

.scroll-bar {
    -fx-font-size: 15.0pt;
}
