<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="Appender1"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{dd.MM.yyyy HH:mm:ss}]$Sep$[%c%x]$Sep$[%p]$Sep$[%L]$Sep$[%m%n]$End$" />
		</layout>
	</appender>

	<appender name="Appender2"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="//fsrv/obmen/TR/trapp.txt" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{dd.MM.yyyy HH:mm:ss}]$Sep$[%c%x]$Sep$[%p]$Sep$[%L]$Sep$[%m%n]$End$" />
		</layout>
	</appender>

	<appender name="jasper"
		class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="maxFileSize" value="1000MB" />
		<param name="maxBackupIndex" value="1000" />
		<param name="file" value="//fsrv/obmen/TR/trapp.txt" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{dd.MM.yyyy HH:mm:ss}]$Sep$[%c%x]$Sep$[%p]$Sep$[%L]$Sep$[%m%n]$End$" />
		</layout>
	</appender>

	<root>
		<priority value="info" />
		<appender-ref ref="Appender1" />
		<appender-ref ref="Appender2" />
		<appender-ref ref="jasper" />
	</root>

</log4j:configuration>